---
- name: Create admin group
  group:
    name: "{{  admin_username }}"
    state: present
- name: Create admin user
  user:
    name: "{{ admin_username }}"
    password: "{{ admin_password | password_hash('sha512') }}"
    groups: "{{ admin_groups }}"
    create_home: yes
    shell: /bin/bash
    state: present
