---
- name: Create admin group
  group:
    name: "{{  admin_username }}"
    state: present
- name: Create admin user
  user:
    name: "{{ admin_username }}"
    password: "{{ admin_password | password_hash('sha512') }}"
    groups: "{{ admin_groups }}"
    create_home: yes
    shell: /bin/bash
    state: present
- name: Add admin to sudoers with NOPASSWD
  lineinfile:
    path: /etc/sudoers.d/{{ admin_username }}
    line: "{{ admin_username }} ALL=(ALL) NOPASSWD:ALL"
    create: yes
    mode: "0440"
    validate: "visudo -cf %s"
