---
- name: Install and Start The service
  hosts: localhost
 
  tasks:
   - name: Install nginx
     apt:
       name: nginx
       state: present
   - name: Start nginx service
     service:
       name: nginx
       state: started